
.example-spacer {
  flex: 1 1 auto;
}
.opcion{
  cursor: pointer;
  display : flex;
    
}
.opcion:hover{
  font-weight: 100%;
}
.nav-halloween{
  background-color: rgb(226, 49, 43);
}
.nav-navidad{
  background-color: rgb(0, 26, 255);
}
.theme-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}
.nav-normal{
  background-color: rgb(255, 253, 143);
}
