.boton{
    height: 150px;
    width: 150px;
    font-size: 130px;
    border-radius: 50%;
    background-image: url(/galleta.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.cookiecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.numero{
    height: 150px;
    width: 150px;
}