.artistas{
    align-items:start;
    display: grid;
    flex-direction: row; 
    gap: 20px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.cantantes{
    align-items: center;
    display: flex;

    
}