.chibi{
    width: 100px;
    height: 100px;
    background-image: url('/Imagenes/anubis.png');
    cursor: pointer;
    animation: run 1s steps(12) infinite, animacion1 5.5s infinite;
}
.chibi2{
    width: 100px;
    height: 100px;
    background-image: url('/Imagenes/old-guy.png');
    animation: run 1s steps(12) infinite, animacion1 9.1s infinite;
}
.chibi3{
    width: 100px;
    height: 100px;
    background-image: url('/Imagenes/hell-knight.png');
    animation: run 1s steps(12) infinite, animacion1 8s infinite;
}
.chibi4{
    width: 100px;
    height: 100px;
    background-image: url('/Imagenes/pirate.png');
    animation: run 1s steps(12) infinite, animacion1 7s infinite;
}
.chibi5{
    width: 100px;
    height: 100px;
    background-image: url('/Imagenes/succubus.png');
    animation: run 1s steps(12) infinite, animacion1 6s infinite;
}

@keyframes animacion1{
    0%{ 
        transform: translateX(0) scaleX(1);   
    }
    25%{
        transform: translateX(500px) scaleX(1); 
    }
    26%{
        transform: translateX(500px) scaleX(-1)
    }
    75%{
        transform: translateX(-500px) scaleX(-1);
    }
    76%{
        transform: translateX(-500px) scaleX(1);
    }
    0%{ 
        transform: translateX(0);   
    }
}


@keyframes run{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:-1200px;
    }
}