@property --a {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
body {
  min-height: 100vh;
  margin:  0;
  display: grid;
  place-content: center;
  background: #1f2020;
  color: #1100ff;
}
div {
  box-sizing: border-box;
}
.ferris-wheel {
  --at: 30s;
  --a: 0;
  width: 50vmin;
  aspect-ratio: 1;  
  border: .7vmin solid;
  border-radius: 100%;
  background-image: 
    repeating-conic-gradient(
      from calc(1deg * var(--a)),
      #000000 0deg 1deg,
      #0000 0deg calc(360deg / var(--t))
    ),
    radial-gradient(
      circle,
      #ff0000 0 5%,
      #ff000000 0 20%,
      #ff0707 0 21%,
      #0000 22%
    )
    ;
  animation: bgrot var(--at) linear infinite;
}
@keyframes bgrot {
  from { --a: 0}
  to {--a: 360}
}
.ferris-wheel {
  position: relative;
  &:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 50%;
    height: 65%;
    border: .5vmin solid;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    top: 50%;
    left: 25%;
    background-image: linear-gradient(#000000 .25vmin, transparent .25vmin), linear-gradient(to right, #000000 .25vmin, transparent .25vmin);

background-size: 20% 20%;
  }
}
.basket {
  
  width: 6vmin;
  height: 5vmin;
  border: .7vmin solid;
  border-bottom-width: 2.25vmin;
  border-bottom: rgb(255, 0, 0) 2.25vmin solid;
  border-top-width: 1.25vmin;
  offset-path: border-box;
  offset-rotate: 0deg;
  
  offset-anchor: 50% 0%;
  border-radius: 30%;
  position: relative;
  background: #00000050;
  backdrop-filter: blur(.2vmin); 
  &:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    background: rgb(0, 4, 238);
    left: calc(50% - .75vmin);
    top: -2vmin;
    border-radius: 100%;
    border: .15vmin solid;
  }
  animation: 
    rot var(--at) linear infinite;
  animation-delay: calc(-1 * var(--at) * var(--i) / var(--t));
}
@keyframes rot {
  from {offset-distance: 0%}
  to {offset-distance: 100%}
}
