.contendedor-root{
    width: 100%;
    flex-grow: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.navBar{
    width: 100%;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
html,body{
    margin: 0%;
}

