.cantante {
  font-size: 15px;
  padding: 12px;
  border-radius: 10px;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.hed{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo{
    display:flex;
    flex-direction: row;
    gap:15px;
}

.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.fotos{
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 10px;
}
.leer{
    flex-direction: column;
    justify-content: center;
    display: flex;
    line-height: normal;
    width: 200px;
}
.separador{
    flex-direction: column;
    display: flex;
    margin-bottom: 5%;
}

  